.note-library-shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 999999;
  display: none;
  // margin-right: 40%;
}
.note-library {
  width: 80%;
  background: #f4f4f4;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  bottom: 0;
  color: #000;
}
.title {
  text-align: center;
  position: relative;
  padding: 25px 0;
  background: #4a4a4a;
  color: #fff;
  p {
    margin: 0;
  }
  .back {
    position: absolute;
    left: 0;
    top: 0;
    margin: 25px 20px;
  }
}
.note {
  padding: 10px 0px 10px 20px;
  position: relative;
  p {
    padding-right: 30px;
  }
  .drop-down {
    position: absolute;
    top: 0;
    right: 0;
    margin: 50px 25px 0 0;
  }
}

.tooltip {
  background-color: #fff;
  box-shadow: 0 2px 7px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  width: 393px;
  padding: 6px 0;
  border-radius: 10px;
  user-select: none;
  position: absolute;
  top: 160px;
  left: 370px;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  display: none;
  z-index: 99999;
}
.tooltip::after {
  content: '';
  box-shadow: 0 2px 7px 4px rgba(0, 0, 0, .5);
  box-shadow: -7px 7px 7px 0 rgba(0, 0, 0, .5);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-color: transparent transparent #fff #fff;
  margin-left: -15px;
  position: absolute;
  bottom: 20px;
  left: 100%;
  right: 50%;
  transform: rotate(135deg);
  transform-origin: 0 0;
}
.tooltip-highlight-color,
.tooltip-function {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tooltip-highlight-color [class^=tooltip],
.tooltip-function [class^=tooltip]{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.tooltip-highlight-yellow {
  background-color: #faf096;
}
.tooltip-highlight-red {
  background-color: #f9989f;
}
.tooltip-highlight-blue {
  background-color: #c4beff;
}
.tooltip-highlight-green {
  background-color: #c5f8c8;
}



.edit-container{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  margin: 0 auto;
  z-index: 99999;
  display: none;
}
.edit{
  display: inline-block;
  position: relative;
  width: 567px;
  height: 424px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  background: #ffffff;
  text-align: center;
  .title {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 20px 10px;
    span {
      font-size: 24px;
    }
    button {
      color: #fff;
    }
  }
  .show-text {
    margin-bottom: 70px;
    margin-left: 15px;
    text-align: left;
    color: #000;
  }
  textarea {
    width: 511px;
    height: 173px;
    border-radius: 18px;
    padding: 10px;
  }
}
.save, .cancel {
  width: 50px;
  height: 30px;
  line-height: 30px;
  background: #4a4a4a;
  border: none;
  font-size: 16px;  
}
.show {
  display: block;
}
.show-tooltip {
  display: flex;
}

.annotation {
  border-left: 3px solid #4a4a4a;
  padding: 10px 15px;
}