.display-adjustment__container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(216, 216, 216, 0.69);
  z-index: 9999;
}
.display-adjustment {
  width: 320px;
  height: 376px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 14px;
  background-color: #FFF;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 56px 0;
  z-index: 999;
  box-sizing: border-box;
}
.toolbar__conteiner {
  width: 290px;
  display: flex;
  justify-content: center;
}
.fontsize__container {
  width: 290px;
  height: 42px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.fontsize__button {
  width: 42%;
  padding: 8px;
  border-radius: 6px;
  border: solid 1px #d0d0d0;
  background-color: #efefef;
  color: #000;
  font-size: 18px;
  left: 246px;
  border: 1px solid rgb(208, 208, 208);
  text-align: center;
}
.arrow__down {
  background-image: url('../assets/images/arrow_down.png');
  background-repeat: no-repeat;
  background-position: 85px center;
}
.arrow__up {
  background-image: url('../assets/images/arrow_up.png');
  background-repeat: no-repeat;
  background-position: 85px center;
}
.color__container {
  width: 290px;
  height: 35px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.button__white {
  width: 63px;
  height: 34px;
  border-radius: 6px;
  background-color: #FFF;
  border: 1px solid rgb(208, 208, 208);
}
.button__black {
  width: 63px;
  height: 34px;
  border-radius: 6px;
  background-color: #000;
  border: 1px solid rgb(208, 208, 208);
}
.button__pink {
  width: 63px;
  height: 34px;
  border-radius: 6px;
  background-color: rgb(251, 240, 218);
  border: 1px solid rgb(208, 208, 208);
}
.button__green {
  top: 500px;
  width: 63px;
  height: 34px;
  border-radius: 6px;
  background-color: rgb(197, 231, 206);
  border: 1px solid rgb(208, 208, 208);
}
.fonttype__container {
  width: 290px;
  height: 42px;
}
.fonttype__button {
  width: 287px;
  height: 41px;
  border-radius: 6px;
  background-color: #FFF;
  border: 1px solid rgb(208, 208, 208);
  color: #000;
  font-size: 18px;
  text-align: center;
}
.turnpage__container {
  width: 290px;
  height: 26px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  p {
    color: #000;
    font-size: 15px;
  }
}
.turnpage__button__container {
  width: 217px;
  display: flex;
  flex-wrap: nowrap;
}
.turnpage__button {
  width: 72px;
  padding: 3px 0;
  box-sizing: border-box;
  font-size: 13px;
  text-align: center;
  border: 1px solid rgb(208, 208, 208);
}
.turnpage__button__curve {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.turnpage__button__onecolumn {
  font-weight: 300;
  text-align: center;
  background-color: #d0d0d0;
}
.turnpage__button__twocolumn {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}