.back__container {
  padding: 33px 24px;
  position: absolute;
  left: 0;
  top: 0;

  span {
    margin-left: 24px;
  }
}
.featurebar__container {
  height: 66px;
  display: flex;
  padding: 0 73px;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.featurebar__icon {
  vertical-align: middle;
}
.share-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  img {
    margin-top: 296px;
    border-radius: 14px;
  }
}