body {
  background-color: #424242;
}
.book-content,
.section-content,
.chapter,
h3,
.book-content p {
  outline: 1px solid;
}
.book-content {
  color: #FFF;
}

/* ---------------- page ---------------- */
.prev-page {
  background-color: rgba(255, 187, 187, .35);
}
.next-page {
  background-color: rgba(187, 255, 187, .35);
}
.feature-bar-switch {
  background-color: rgba(187, 187, 255, .35);
}

/* ---------------- test tool ---------------- */
.test-tool {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.test-tool button {
  font-size: 20px;
}