@import 'reset';
@import 'display-adjustment';
@import 'feature-bar';
@import 'annotation';
// @import 'test';

$screen-width: 768px;
$screen-height: 1024px;
$book-content-width: 624px;
$book-content-height: 734px;
$book-padding-right: 72px;
$book-padding-bottom: 89px;

/* ---------------- font size ---------------- */
$font-sizes: 12px, 14px, 16px, 18px, 20px, 24px, 30px, 36px, 42px, 48px, 52px;

@each $font-size in $font-sizes {
  .font-size-#{$font-size} h3,
  .font-size-#{$font-size} p {
    font-size: $font-size !important;
  }
}

/* ---------------- until ---------------- */
.display-none {
  display: none;
}

/* ---------------- book content ---------------- */
.book-content {
  width: $screen-width;
  height: $screen-height;
  padding: 89px 72px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;

  h2 {
    font-size: 36px;
    margin: 23px 0 31px 0;
    text-align: center;
  }
  h3, p {
    font-size: 20px;
    line-height: 1.75;
    margin-top: 0;
  }
  p {
    text-indent: 1.5em;
    text-align: justify;
  }
}
.horizontal-content {
  h2 {
    margin-bottom: 18px;
  }
  h3, p {
    margin-top: 0;
  }
  .chapter {
    overflow: hidden;
  }
  .section-content {
    height: $book-content-height;
    column-fill: auto;
    column-gap: $book-padding-right;
    column-rule: $book-padding-right solid;
    column-width: $book-content-width - $book-padding-right;
  }
}

.back__container {
  .leave-tips-shadow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(234, 234, 234, 0.7);
    z-index: 9999;
    display: none;
  }
  .leave-tips, .clear-records{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 496px;
    height: 563px;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    p {
      font-size: 40px;
      margin-top: 120px;
      margin-bottom: 164px;
      font-weight: bold;
    }
    .back-to-task, .check-leave, .clear{
      width: 160px;
      height: 60px;
      color: #fff;
      text-align: center;
      line-height: 60px;     
      background: #a3ceff;
      font-size: 24px;
      border-radius: 8px;
    }
    .leave-task, .cancel-leave, .cancel-clear{
      margin-top: 20px;
      font-size: 24px;
      color: #9b9b9b;
    }
  }
  .clear-records {
    display: none;
  }
  .check-leave, .cancel-leave {
    display: none;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
}


.vertical-content {
  h2 {
    margin-left: 18px;
  }
  h3, p {
    margin-right: 0;
  }
  .chapter {
    height: 100%;
    overflow: hidden;
    writing-mode: vertical-rl;
  }
  .section-content {
    width: 340px;
    column-fill: auto;
    column-gap: $book-padding-bottom;
    column-rule: $book-padding-bottom solid;
    column-width: $book-content-height - $book-padding-bottom;
  }
}
.chapter {
  height: 846px;
  position: relative;
}
.prev-page,
.next-page,
.feature-bar-switch {
  width: $screen-width / 3;
  position: absolute;
  top: 0;
  bottom: 0;
}
.prev-page {
  left: 0;
}
.next-page {
  right: 0;
}
.feature-bar-switch {
  left: $screen-width / 3;
}
.current-page {
  font-size: 20px;
  text-align: center;
}

/* ------------- highlight */
.highlight-start ~ span,
.highlight-start {
  background-color: #c4beff;
}

.highlight-end ~ span {
  background-color: transparent;
}

/* ------------- table of content ------------- */
.table-of-content-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(155, 155, 155, 0.9);
}
.table-of-content-container {
  width: 658px;
  height: 964px;
  background-color: #f3f3f3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.table-of-content-back {
  padding: 7px 24px;
  border-bottom: solid 1px #979797;
}
.table-of-content {
  width: 100%;
  height: 926px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    width: 658px;
    line-height: 46px;
    padding-left: 34px;
    display: inline-block;
    color: #595959;
    box-sizing: border-box;
  }
  span {
    width: 624px;
    height: 46px;
    display: inline-block;
  }
  ul ul li {
    width: 624px;
    padding-left: 65px;
  }
}