   /* * {
    outline: red 1px solid;
}    */



body{margin: 0px;}
.display-adjustment__container{
width: 320px;
height:376px;
display: flex;
flex-wrap: wrap;
border-radius: 14px;
background-color: rgba(255, 255, 255, 1);
margin-top: 324px;
margin-left: 224px;
justify-content: center;
align-items: center;

}
.toolbar__conteiner{
width: 290px;
height: 34px;
display: flex;
justify-content: center;

}



.fontsize__container{
width:290px;
height: 42px;
display: flex;
flex-wrap: nowrap; 
justify-content: space-between;
}
.fontsize__button{
    width: 140px;
    height: 41px;
    border-radius: 6px;
    border: solid 1px #d0d0d0;
    background-color: #efefef;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-family: PingFangTC-Light;
    cursor: pointer;
    left: 246px;
    border: 1px solid rgba(208, 208, 208, 1);
    cursor: pointer;
    
}
.arrow__down{
    background-image:url('arrow_down.png');
    background-repeat:no-repeat;
    background-position-y: center;
    background-position: 80px;
}
.arrow__up{
    background-image:url('arrow_up.png');
    background-repeat:no-repeat;
    background-position-y: center;
    background-position: 80px;
}
.color__container{
    width: 290px;
    height: 35px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.button__white{
    width: 63px;
    height: 34px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(208, 208, 208, 1);
    cursor: pointer;
}
.button__black{
    width: 63px;
    height: 34px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(208, 208, 208, 1);    
    cursor: pointer;
}
.button__pink{
    width: 63px;
    height: 34px;
    border-radius: 6px;
    background-color: rgba(251, 240, 218, 1);
    border: 1px solid rgba(208, 208, 208, 1);  
    cursor: pointer;
}
.button__green{
    top: 500px;
    width: 63px;
    height: 34px;
    border-radius: 6px;
    background-color: rgba(197, 231, 206, 1);
    border: 1px solid rgba(208, 208, 208, 1);
    cursor: pointer;
}
.fonttype__container{
width: 290px;
height:42px ;
}
.fonttype__button{
width:287px;
height:41px; 
border-radius: 6px;
background-color: rgba(255, 255, 255, 1);
border: 1px solid rgba(208, 208, 208, 1);
color: rgba(0, 0, 0, 1);
font-size: 18px;
text-align: center;
font-family: PingFangTC-Light;
cursor: pointer;

}
.turnpage__container{
width: 290px;
height: 26px;
display: flex;
flex-wrap:nowrap;
justify-content: space-between;
align-items: center;
}
p{
    color: rgba(0, 0, 0, 1);
    font-size: 15px;
    font-family: PingFangTC-Light;
}
.turnpage__button__container{
width: 217px;
height:26px;
display: flex;
flex-wrap: nowrap;

}
.turnpage__button__curve{
width: 72px;
height: 25px;
border-top-left-radius:6px;
border-bottom-left-radius:6px;
background-color: rgba(255, 255, 255, 1);
border: 1px solid rgba(208, 208, 208, 1);
color: rgba(0, 0, 0, 1);
font-size: 13px;
text-align: left;
font-family: PingFangTC-Light;
text-align: center;
cursor: pointer;

}

.turnpage__button__onecolumn{
    width: 72px;
    height: 25px;
    font-family: PingFangTC;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:rgba(255, 255, 255, 1);
    text-align: center;
    cursor: pointer;
    border: 0;
    
}

.turnpage__button__twocolumn{
    width: 72px;
    height: 25px;
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(208, 208, 208, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 13px;
    text-align: left;
    font-family: PingFangTC-Light;
    text-align: center;
    cursor: pointer;
    
}







