   /* * {
    outline: red 1px solid;
}    */



body{margin: 0px;}

.back__container{
width:120px ;
height:22px ;
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
margin-top: 31px;
margin-left: 24px
}
p{
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  cursor: pointer;
}


.featurebar__container{
width: 622px;
height: 66px;
display: flex;
margin-left: 73px;
flex-wrap:nowrap;
margin-top: 958px;
justify-content: space-between;
align-items: center;
background-color: rgba(255, 255, 255, 1)


}
.featurebar__icon{
 vertical-align: middle;
}









