body {
  margin: 0;
}

a {
  text-decoration: none;
}

.display-adjustment__container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(216, 216, 216, 0.69);
  z-index: 9999;
}

.display-adjustment {
  width: 320px;
  height: 376px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 14px;
  background-color: #FFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 56px 0;
  z-index: 999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.toolbar__conteiner {
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fontsize__container {
  width: 290px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fontsize__button {
  width: 42%;
  padding: 8px;
  border-radius: 6px;
  border: solid 1px #d0d0d0;
  background-color: #efefef;
  color: #000;
  font-size: 18px;
  left: 246px;
  border: 1px solid #d0d0d0;
  text-align: center;
}

.arrow__down {
  background-image: url("../assets/images/arrow_down.png");
  background-repeat: no-repeat;
  background-position: 85px center;
}

.arrow__up {
  background-image: url("../assets/images/arrow_up.png");
  background-repeat: no-repeat;
  background-position: 85px center;
}

.color__container {
  width: 290px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button__white {
  width: 63px;
  height: 34px;
  border-radius: 6px;
  background-color: #FFF;
  border: 1px solid #d0d0d0;
}

.button__black {
  width: 63px;
  height: 34px;
  border-radius: 6px;
  background-color: #000;
  border: 1px solid #d0d0d0;
}

.button__pink {
  width: 63px;
  height: 34px;
  border-radius: 6px;
  background-color: #fbf0da;
  border: 1px solid #d0d0d0;
}

.button__green {
  top: 500px;
  width: 63px;
  height: 34px;
  border-radius: 6px;
  background-color: #c5e7ce;
  border: 1px solid #d0d0d0;
}

.fonttype__container {
  width: 290px;
  height: 42px;
}

.fonttype__button {
  width: 287px;
  height: 41px;
  border-radius: 6px;
  background-color: #FFF;
  border: 1px solid #d0d0d0;
  color: #000;
  font-size: 18px;
  text-align: center;
}

.turnpage__container {
  width: 290px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.turnpage__container p {
  color: #000;
  font-size: 15px;
}

.turnpage__button__container {
  width: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.turnpage__button {
  width: 72px;
  padding: 3px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  text-align: center;
  border: 1px solid #d0d0d0;
}

.turnpage__button__curve {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.turnpage__button__onecolumn {
  font-weight: 300;
  text-align: center;
  background-color: #d0d0d0;
}

.turnpage__button__twocolumn {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.back__container {
  padding: 33px 24px;
  position: absolute;
  left: 0;
  top: 0;
}

.back__container span {
  margin-left: 24px;
}

.featurebar__container {
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 73px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.featurebar__icon {
  vertical-align: middle;
}

.share-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.share-container img {
  margin-top: 296px;
  border-radius: 14px;
}

.note-library-shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999999;
  display: none;
}

.note-library {
  width: 80%;
  background: #f4f4f4;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  bottom: 0;
  color: #000;
}

.title {
  text-align: center;
  position: relative;
  padding: 25px 0;
  background: #4a4a4a;
  color: #fff;
}

.title p {
  margin: 0;
}

.title .back {
  position: absolute;
  left: 0;
  top: 0;
  margin: 25px 20px;
}

.note {
  padding: 10px 0px 10px 20px;
  position: relative;
}

.note p {
  padding-right: 30px;
}

.note .drop-down {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px 25px 0 0;
}

.tooltip {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 7px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 7px 4px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 393px;
  padding: 6px 0;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 160px;
  left: 370px;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  display: none;
  z-index: 99999;
}

.tooltip::after {
  content: '';
  -webkit-box-shadow: 0 2px 7px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 7px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -7px 7px 7px 0 rgba(0, 0, 0, 0.5);
          box-shadow: -7px 7px 7px 0 rgba(0, 0, 0, 0.5);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-color: transparent transparent #fff #fff;
  margin-left: -15px;
  position: absolute;
  bottom: 20px;
  left: 100%;
  right: 50%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.tooltip-highlight-color,
.tooltip-function {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tooltip-highlight-color [class^=tooltip],
.tooltip-function [class^=tooltip] {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.tooltip-highlight-yellow {
  background-color: #faf096;
}

.tooltip-highlight-red {
  background-color: #f9989f;
}

.tooltip-highlight-blue {
  background-color: #c4beff;
}

.tooltip-highlight-green {
  background-color: #c5f8c8;
}

.edit-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  margin: 0 auto;
  z-index: 99999;
  display: none;
}

.edit {
  display: inline-block;
  position: relative;
  width: 567px;
  height: 424px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 18px;
  background: #ffffff;
  text-align: center;
}

.edit .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  padding: 20px 10px;
}

.edit .title span {
  font-size: 24px;
}

.edit .title button {
  color: #fff;
}

.edit .show-text {
  margin-bottom: 70px;
  margin-left: 15px;
  text-align: left;
  color: #000;
}

.edit textarea {
  width: 511px;
  height: 173px;
  border-radius: 18px;
  padding: 10px;
}

.save, .cancel {
  width: 50px;
  height: 30px;
  line-height: 30px;
  background: #4a4a4a;
  border: none;
  font-size: 16px;
}

.show {
  display: block;
}

.show-tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.annotation {
  border-left: 3px solid #4a4a4a;
  padding: 10px 15px;
}

/* ---------------- font size ---------------- */
.font-size-12px h3,
.font-size-12px p {
  font-size: 12px !important;
}

.font-size-14px h3,
.font-size-14px p {
  font-size: 14px !important;
}

.font-size-16px h3,
.font-size-16px p {
  font-size: 16px !important;
}

.font-size-18px h3,
.font-size-18px p {
  font-size: 18px !important;
}

.font-size-20px h3,
.font-size-20px p {
  font-size: 20px !important;
}

.font-size-24px h3,
.font-size-24px p {
  font-size: 24px !important;
}

.font-size-30px h3,
.font-size-30px p {
  font-size: 30px !important;
}

.font-size-36px h3,
.font-size-36px p {
  font-size: 36px !important;
}

.font-size-42px h3,
.font-size-42px p {
  font-size: 42px !important;
}

.font-size-48px h3,
.font-size-48px p {
  font-size: 48px !important;
}

.font-size-52px h3,
.font-size-52px p {
  font-size: 52px !important;
}

/* ---------------- until ---------------- */
.display-none {
  display: none;
}

/* ---------------- book content ---------------- */
.book-content {
  width: 768px;
  height: 1024px;
  padding: 89px 72px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.book-content h2 {
  font-size: 36px;
  margin: 23px 0 31px 0;
  text-align: center;
}

.book-content h3, .book-content p {
  font-size: 20px;
  line-height: 1.75;
  margin-top: 0;
}

.book-content p {
  text-indent: 1.5em;
  text-align: justify;
}

.horizontal-content h2 {
  margin-bottom: 18px;
}

.horizontal-content h3, .horizontal-content p {
  margin-top: 0;
}

.horizontal-content .chapter {
  overflow: hidden;
}

.horizontal-content .section-content {
  height: 734px;
  -webkit-column-fill: auto;
          column-fill: auto;
  -webkit-column-gap: 72px;
          column-gap: 72px;
  -webkit-column-rule: 72px solid;
          column-rule: 72px solid;
  -webkit-column-width: 552px;
          column-width: 552px;
}

.back__container .leave-tips-shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(234, 234, 234, 0.7);
  z-index: 9999;
  display: none;
}

.back__container .leave-tips, .back__container .clear-records {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 496px;
  height: 563px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back__container .leave-tips p, .back__container .clear-records p {
  font-size: 40px;
  margin-top: 120px;
  margin-bottom: 164px;
  font-weight: bold;
}

.back__container .leave-tips .back-to-task, .back__container .leave-tips .check-leave, .back__container .leave-tips .clear, .back__container .clear-records .back-to-task, .back__container .clear-records .check-leave, .back__container .clear-records .clear {
  width: 160px;
  height: 60px;
  color: #fff;
  text-align: center;
  line-height: 60px;
  background: #a3ceff;
  font-size: 24px;
  border-radius: 8px;
}

.back__container .leave-tips .leave-task, .back__container .leave-tips .cancel-leave, .back__container .leave-tips .cancel-clear, .back__container .clear-records .leave-task, .back__container .clear-records .cancel-leave, .back__container .clear-records .cancel-clear {
  margin-top: 20px;
  font-size: 24px;
  color: #9b9b9b;
}

.back__container .clear-records {
  display: none;
}

.back__container .check-leave, .back__container .cancel-leave {
  display: none;
}

.back__container .show {
  display: block;
}

.back__container .hide {
  display: none;
}

.vertical-content h2 {
  margin-left: 18px;
}

.vertical-content h3, .vertical-content p {
  margin-right: 0;
}

.vertical-content .chapter {
  height: 100%;
  overflow: hidden;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.vertical-content .section-content {
  width: 340px;
  -webkit-column-fill: auto;
          column-fill: auto;
  -webkit-column-gap: 89px;
          column-gap: 89px;
  -webkit-column-rule: 89px solid;
          column-rule: 89px solid;
  -webkit-column-width: 645px;
          column-width: 645px;
}

.chapter {
  height: 846px;
  position: relative;
}

.prev-page,
.next-page,
.feature-bar-switch {
  width: 256px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.prev-page {
  left: 0;
}

.next-page {
  right: 0;
}

.feature-bar-switch {
  left: 256px;
}

.current-page {
  font-size: 20px;
  text-align: center;
}

/* ------------- highlight */
.highlight-start ~ span,
.highlight-start {
  background-color: #c4beff;
}

.highlight-end ~ span {
  background-color: transparent;
}

/* ------------- table of content ------------- */
.table-of-content-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(155, 155, 155, 0.9);
}

.table-of-content-container {
  width: 658px;
  height: 964px;
  background-color: #f3f3f3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.table-of-content-back {
  padding: 7px 24px;
  border-bottom: solid 1px #979797;
}

.table-of-content {
  width: 100%;
  height: 926px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
}

.table-of-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-of-content li {
  width: 658px;
  line-height: 46px;
  padding-left: 34px;
  display: inline-block;
  color: #595959;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.table-of-content span {
  width: 624px;
  height: 46px;
  display: inline-block;
}

.table-of-content ul ul li {
  width: 624px;
  padding-left: 65px;
}
/*# sourceMappingURL=main.css.map */