   /* * {
    outline: red 1px solid;
}    */



body{
    margin: 0px;
    position: relative;
    height: 100vh;
}
.wrap{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/images/img-0082.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.content__container_shadow {
    background-color: rgba(155, 155, 155, 0.9);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.content__container{
    display: flex;
    flex-wrap: wrap;
    width: 496px;
    justify-content: center;
    position: absolute;
    padding: 30px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 18px;
}
.titile__container{
    width: 256px;
    height: 37px;
    color: rgba(74, 74, 74, 1);
    font-size: 24px;
    padding-top: 40px;
    text-align: center;
    font-family: PingFangTC-Semibold;

}
.text__container{
    margin-top: 62px;
    width: 400px;
    height:158px;
}
p{
    color: rgba(74, 74, 74, 1);
    font-size: 19px;
    text-align: left;
    font-family: PingFangTC-Light;
    margin: 0;
}
p:first-child { margin-bottom: 25px;}

.button__container{
    display: flex;
    flex-wrap: wrap;
    width: 305px;
    justify-content: center;
}
.button__start{
    width: 305px;
    height: 68px;
    border-radius: 8px;
    background-color: rgba(163, 206, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    text-align: center;
    font-family: PingFangTC-Semibold;
    border: 0;
    cursor: pointer;
    margin-bottom: 10px;
    line-height: 68px;
    text-decoration: none;
}
.button__cancle{
    width: 84px;
    height: 46px;
    color: rgba(155, 155, 155, 1);
    font-size: 24px;
    text-align: center;
    font-family: PingFangTC-Semibold;
    border: 0;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
}









