body{
    margin: 52px 0 0;
}
a {
    text-decoration: none;
}
.background__color{
margin-bottom:12px;
background-color: rgba(128, 127, 127, 1);
width: 706px;
height:222px;
border-top-right-radius: 35px;
border-bottom-right-radius: 35px;
display: inline-block;
display: flex;
}
.button__container a:nth-of-type(even) {
    text-decoration: underline;
}

.context{
    margin-left: 10px;
    margin-top: 50px;
    width: 33px;
    height: 125px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    text-align: center;
    font-family: PingFangTC-Semibold;
    writing-mode: vertical-lr;
    letter-spacing: 7px;
    display:inline-block;

}
.button__left__click{
width:55px;
height:55px;
border-radius: 50%;
border: none;
background-color: rgba(163, 206, 255, 1);
display: inline-block;
color: rgba(255, 255, 255, 1);
font-size: 18px;
text-align: center;
font-family: PingFangTC-Semibold;
cursor: pointer;
margin: 0 auto;
line-height: 55px;


}

.button__right__click{
    width:55px;
    height:55px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 146, 146, 1);
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    text-align: center;
    font-family: PingFangTC-Semibold;
    cursor: pointer;
    margin: 0 auto;
    line-height: 55px;
    
    }
.button__container{
    display: flex;
    flex-wrap: wrap;
    width: 315px;
    align-content: space-evenly;

}










