 /* * {
    outline: red 1px solid;
}  */



body{
    margin: 0px;
    height: 100vh;
    position: relative;
}

.bgcolor{
    background-color: rgba(163, 206, 255, 1);
}
.input__name{
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    border: 0;
    border-radius: 8px;
    color: #000;
}
.number__container{
    width: 169px;
    height:46px;
    font-family: PingFangTC;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    /* margin-top: 402px; */
    line-height: 46px;
    /* margin-left: 300px; */
}
.input__container{
    width: 300px;
    height: 50px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 19px;
    text-align: center;
}
.container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.button__container{
    margin-top: 76px;
}
.button__container a{
    text-decoration: none;
}
.button__cancle{
    width: 100px;
    color: rgba(205, 203, 203, 1);
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    background-color: #ffffff;
    display: inline-block;
    padding: 9px 0;
}
/* 受測試者 */
.button__start{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    text-align: center;
    width: 100px;
    border-radius: 8px;
    background-color: #9efda3;
    margin-left: 35px;
    display: inline-block;
    padding: 9px 0;

}
/* 受測試者 */

.button__record{
    min-width: 100px;
    min-height: 42px;
    color: rgba(205, 203, 203, 1);
    font-size: 18px;
    text-align: center;
    font-family: PingFangTC-Light;
    cursor: pointer;
    border-radius: 8px;
    background-color: #ffffff;
    border: 0;
    margin-left: 35px;
}
/* 測試完畢 */















