  /* * {
    outline: red 1px solid;
}   */



body{
    margin: 0px;
    position: relative;
    height: 100vh;
}

.button__container{
    display: flex;
    flex-wrap: wrap;
    width: 306px; 
    height: 308px;
    align-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button__task{
    width: 305px;
    height: 68px;
    font-size: 24px;
    font-family: PingFangTC-Semibold;
    border-radius: 8px;
    border:0;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: rgba(163, 206, 255, 1);
    cursor: pointer;
    text-decoration: none;
    line-height: 68px;
}
.button__task__complete{
    width: 305px;
    height: 68px;
    font-size: 24px;
    font-family: PingFangTC-Semibold;
    border-radius: 8px;
    border:0;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: rgba(143, 143, 143, 1);
    cursor: pointer;

}
.back__container {
    padding: 33px 24px;
    position: absolute;
    left: 0;
    top: 0;
}









